* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gradient {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5)
  );
  position: absolute;
  width: 100%;
  height: 100%;
}
form {
  background: linear-gradient(to bottom right, #9d159d 5%, #5c159d);
  border-radius: 100px;
  height: 95vh;
  width: 430px;
  position: absolute;
  bottom: 10px;
  left: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: -8px 5px 10px;
}
form > label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 300px;
  background: #28b1d7;
  border-radius: 30px;
}
fieldset {
  width: 300px;
  height: 200px;
  background: #da4b25;
  border-radius: 30px;
  font-family: cursive;
  color: #e4e31b;
}
fieldset label {
  position: relative;
}
fieldset label:nth-child(2) {
  top: 30px;
  left: 50px;
}
fieldset label:nth-child(3) {
  top: 30px;
  left: 124px;
}
fieldset label:nth-child(4) {
  top: 85px;
  right: 69px;
}
fieldset label:nth-child(5) {
  top: 85px;
  left: -4px;
}
fieldset label:nth-child(7) {
  top: 120px;
  left: 50px;
}
fieldset label:nth-child(8) {
  top: 120px;
  left: 90px;
}
button {
  color: #8a2be2;
  background-color: #00ffff;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  border-style: none;
  font-family: lobster;
  font-size: 20px;
}
button:hover {
  border-style: inset;
  border-width: 2px;
  border-color: #00fa9a;
}
form label:first-child {
  position: relative;
  top: 50px;
}
form fieldset:nth-child(2) {
  position: relative;
  top: 40px;
}
form label:nth-child(3) {
  position: relative;
  top: 30px;
}
h1 {
  color: #f0fff0;
  text-transform: capitalize;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
}
form:hover h1 {
  color: #ffefd5;
  font-family: Indie Flower;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 1px 3px 2px #f5fffa;
}
.email {
  background: #55d926;
  border-radius: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #a61b43;
}
.destination {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #0000ff;
}
form:hover .destination {
  box-shadow: -5px -5px 5px #2dd2a0;
}
form:hover fieldset {
  box-shadow: -5px -5px 5px #2657d9;
}
form:hover .email {
  box-shadow: -5px -5px 5px #fffc69;
}
